/* Body -----------------*/
body {
	background-color: #ffa949;
}

/* Headings -----------*/

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: #fff
	padding-left: 50%;
	border-bottom: 2px solid #fff;
	height: 2em;
	max-width: 1.25em;
}
