/* Body -----------------*/

body {
	color: #878787;
  	margin: 0;
  	font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headings -----------*/

.main-header {
	font-family: 'Fjalla One', sans-serif;
	color: #fff
	border-bottom: 2px solid #fff;
	height: 5.625rem;
	max-width: 1.25em;
	text-align: center;
}
.subtitle {
	font-family: 'Roboto', sans-serif;
}
